.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    margin-bottom: 50px;
}

.clients-list {
display: flex;
column-gap: 30px;
}

.clients-item:not(:last-child) {
column-gap: 30px;
}

.clients-link {
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--icon-color);
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic);
    &:hover,
    &:focus {
    fill: var(--blue-color);
    border-color: var(--blue-color);
}
}
